.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 50px solid #23373B;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.25;
  padding: 0em 2em 0em 2em
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -20px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.inverseMSU {
  background-color: #18453B;
  color: white;
  text-shadow: 0 0 20px #333;
  border-top: 50px solid black;
}

.inverseMSU h2, .inverseMSU h3{
  color: white;}
  
.inverseMSU code{color: black;}

.inverse code{color: black;}
.inverse h2{color: gray;}

.inverseMSU>h1{
  position: absolute;
  font-size: 40px;
  padding-top: 1em;
  margin-left: -30px;
} 





.MSU {
  background-color: white;
  color: black;
  border-top: 50px solid #18453B;
  text-shadow: 0 0 0 #333;
}

.MSU>h1{
  position: absolute;
  font-size: 30px;
  padding-top: 1.65em;
  margin-left: -30px;
} 

.MSU>h2{
  color: #18453B;}

.MSU>h3{
  font-size: 26px;
  font-weight: 400;
  color: black;}
  
.MSU>h4{
  font-size:24px;
  font-weight:400;
  color: black;
}
  
.clear{
  border-top: 0px solid white;
  background-color: white;
}


.footnote {
  position: absolute;
  bottom: 2em;
  padding-right: 4em;
  font-size: 70%;
}


.font300 {
  font-size: 300%;
}


.font80 {
  font-size: 80%%;
}


.font400 {
  font-size: 400%;
}  


.title-slide {
  border-top: 50px solid #18453B;
  background-color: #18453B;
}


.title-slide > h1  {
  color: #FAFAFA;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #C2C2C2;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide > h3  {
  color: #C2C2C2;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

.heading-slide {
  background-color: #18453B;  /* blue background */
  color: #fff;                /* white text*/
  text-shadow: 0 0 0;         /* no text shadow */
  border-bottom: 0;           /* no border */
  font-size: 90px;            /* large text size */
  font-weight: bold;          /* headings are bold */
  padding-left: 1em;
}


div.msu-header {
content: "";
    position: absolute;
    top: 10px;
    right:   10px;
    height: 40px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdn.cabs.msu.edu/brand/images/masthead-helmet-white.svg");
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}



.more-left {
  float: left;
  width: 63%;
}

.less-right {
  float: right;
  width: 31%;
}

.more-right ~ * {
  clear: both;
}



.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
                                    font-size: 70%;
                                  }


table {
 padding: 10px
}


th,td{
     padding:15px 15px 15px 15px;
   }



/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-pink {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #20B2AA !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
.hi-orange {
  font-weight: 600;
  color: #FFA500 !important;
}
.hi-green {
  font-weight: 600;
  color: #8bb174 !important;
}
.hi-blue {
  font-weight: 600;
  color: #2b59c3 !important;
}
.hi-red {
  font-weight: 600;
  color: #fb6107 !important;
}


/* Text colors */
/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #20B2AA !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
/* MSU green */
.MSUgreen {
  font-weight: 400;
  color: #18453B !important;
}
.msugreen {
  color: #18453B !important;
}
.green {
  color: #8bb174 !important;
}
.blue {
  color: #2b59c3 !important;
}
.red {
  color: #fb6107 !important;
}
.white{
  color: #ffffff !important;
}

.ul {
  text-decoration: underline;
  display: inline-block;
}

.underline {
  text-decoration: underline;
  display: inline-block;
}

a:link {
  color: orange;
  text-decoration: underline;
}

}
